html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  

  .login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .login-container {
    background-color: #9686c7;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
  }
  
  
  .login-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .login-container input {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #110101;
    background-color: #110101;
  }
  
  .login-container button {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #4f7cac;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  